html, body {
  margin: 20px;
}

img#dog-img {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
}

img#dog-img.like {
    transform: translate(-5000px, 0);
}

img#dog-img.dislike {
    transform: translate(5000px, 0);
}

