html, body {
  margin: 20px;
}

img#dog-img {
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

img#dog-img.like {
    transform: translate(-5000px, 0);
}

img#dog-img.dislike {
    transform: translate(5000px, 0);
}
