
place holder shelter
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Interested Adopters</h1>
            <ul>
                <li>Place holder for list of adopters</li>
            </ul>
        </div>
        <div class="col-md-8">
            Place holder for chat
            {{outlet}}
        </div>
    </div>
</div>
