<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Adoptable</a>
    </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container" style="height:100%">
    <div class="row"  style="height:100%">
        <div class="col-md-4" style="height:100%">
            <h3>Interested Adopters</h3>

            <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                {{#each user in users}}
                    {{#link-to "shelter.chat" model user class="btn btn-default"}}
                        {{user.name}}
                    {{/link-to}}
                {{/each}}
            </div>

        </div>
        <div class="col-md-8" style="height: 100%">
            {{outlet}}
        </div>
    </div>
</div>
