<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="display:inline-block">

            {{#link-to "user.dogs" class="navbar-brand"}}
                <img src="/assets/dogicon.png" style="height: 2em;display:inline;"></img> Adoptable!
            {{/link-to}}
        </div>
        <div class="pull-right" style="display:inline-block">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {{#link-to "user.shelters"}}
                        <i class="fa fa-comment-o" style="font-size: 2em;"></i>
                        <span class="badge" style="position:absolute; right:2px; bottom:2px;">{{unreadCount}}</span>
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

{{outlet}}
